# requirements for AVScanner

customtkinter
darkdetect
pillow

# required only for GUI design
# pygubu
# pygubu-designer

# required for build

# wheel         # automatically downloaded by build
# setuptools    # automatically downloaded by build
setuptools      # currently needed for customtkinter
# sphinx
